.footer {
    background: var(--primary-color);
    color: var(--white);
    padding: 50px 0 0 0;
}
.footer__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer__main > .footer__main__follow > ul {
    display: flex;
}
.footer__main > .footer__main__follow > ul > li {
    list-style: none;
    padding: 25px 5px;
}

.footer__main > .footer__main__follow > ul > li > a {
    color: var(--white);
}

.footer__main > .Contact_Me > ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__main > .Contact_Me > ul > li{
    list-style: none;
    padding: 25px 5px;
}
.footer__main > .Contact_Me > ul > li > a{
    color: var(--white);
}
.footer__bottom{
    text-align: center;
    padding: 25px 0;
    background: var(--secondary-color);
}
.footer__bottom  a{
    color: var(--white);
    transition: .5s all;
}
.footer__bottom  a:hover{
    color: var(--black);
}