:root{
    --primary-color:  #0DABF9;
    --secondary-color: #128aed;
    --acent-color: #31ed12;
    --hover-color:  #1283ed;
    --black: #000;
    --white: #fff;
    --primary-color-25:  #0daaf950;
}